<HTML><HEAD><TITLE>Пепелац | На развалинах культуры</TITLE>
<META name="keywords" content="культура,исскуство,проблемы,литература,урбанистический,катаклизм,дизайн,упадок,фоторгафия,деградация,кино,хаос,вэб-дизайн,развал">
{% include "header.html" %}
</HEAD>

{% include "top.html" %}

{% include "left.html" %}



<h1><a href="/ruins/views/">Виды с развалин</a> / Пепелац</h1>



<h2>Разведка</h2>

<span class=preview><a href="file0006i.jpg" target=_blank><IMG src="file0006s.jpg"></a><br>труба</span>
<span class=preview><a href="file0022i.jpg" target=_blank><IMG src="file0022s.jpg"></a><br>вид с горы</span>
<span class=preview><a href="file0008i.jpg" target=_blank><IMG src="file0008s.jpg"></a><br>пепелац</span>
<span class=preview><a href="file0009i.jpg" target=_blank><IMG src="file0009s.jpg"></a><br>сопло</span>
<span class=preview><a href="file0010i.jpg" target=_blank><IMG src="file0010s.jpg"></a><br>на мостике</span>
<span class=preview><a href="file0013i.jpg" target=_blank><IMG src="file0013s.jpg"></a><br>на палубе</span>
<span class=preview><a href="file0011i.jpg" target=_blank><IMG src="file0011s.jpg"></a><br>чрево</span>
<span class=preview><a href="file0012i.jpg" target=_blank><IMG src="file0012s.jpg"></a><br>взлёт</span>

<h2>Экспедиция</h2>

<span class=preview><a href="pepelats4i.jpg" target=_blank><IMG src="pepelats4s.jpg"></a><br>на луне</span>

<span class=preview><a href="pepelats6i.jpg" target=_blank><IMG src="pepelats6s.jpg"></a><br>закат</span>


         
{% include "bottom.html" %}
