<HTML><HEAD><TITLE>Наши координаты | На развалинах культуры</TITLE>
<META name="keywords" content="культура,исскуство,проблемы,литература,урбанистический,катаклизм,дизайн,упадок,фоторгафия,деградация,кино,хаос,вэб-дизайн,развал">
{% include "header.html" %}
</HEAD>

{% include "top.html" %}

{% include "left.html" %}


<h1>Наши координаты</h1>

<table cellspacing=8>
<tr><td align=right>
<big>e-mail:</big>
</td>
<td>
<big><a href="mailto:basistov@mail.ru">basistov@mail.ru</a></big>
</td>
</tr>
<tr>
<td align=right>
<big>icq:</big>
</td>
<td>
<big>416158190</big>
</td></tr>
</table>

</td></tr>
</table>



{% include "bottom.html" %}
