<HTML><HEAD><TITLE>Виды с развалин | На развалинах культуры</TITLE>
<META name="keywords" content="культура,исскуство,проблемы,литература,урбанистический,катаклизм,дизайн,упадок,фоторгафия,деградация,кино,хаос,вэб-дизайн,развал">
{% include "header.html" %}
</HEAD>

{% include "top.html" %}

{% include "left_views.html" %}



<h1>Виды с развалин</h1>

<h2>Объекты</h2>

<table cellspacing=10>


<tr>
<td>
<h3><a href="/ruins/views/domodedovo/">Домодедово</a></h3>
</td>
<td></td>
</tr>

<tr>
<td>
<h3><a href="/ruins/views/pepelats/">Пепелац</a></h3>
</td>
<td></td>
</tr>

<tr>
<td>
<h3><a href="/ruins/views/zone/">Зона</a></h3> 
<a href="/ruins/views/zone/story/">(читайте также записки с места происшествия)</a>
</td>
<td></td>
</tr>

<tr>
<td>
<h3><a href="/ruins/views/molot/">Серп и Молот</a></h3>
</td>
<td></td>
</tr>

</table>

<h2>Индустриальное фото</h2>

<span class=preview><a href="photo/file0004i.jpg" target=_blank><IMG src="photo/file0004s.jpg"></a><br>подстанция</span>
<span class=preview><a href="photo/file0016i.jpg" target=_blank><IMG src="photo/file0016s.jpg"></a><br>лэп на закате</span>
<span class=preview><a href="photo/file0014i.jpg" target=_blank><IMG src="photo/file0014s.jpg"></a><br>панорама капотни</span>
<span class=preview><a href="photo/file0014ai.jpg" target=_blank><IMG src="photo/file0014as.jpg"></a><br>космопорт</span>
<span class=preview><a href="photo/file0015i.jpg" target=_blank><IMG src="photo/file0015s.jpg"></a><br>тэц на мкаде</span>
<span class=preview><a href="photo/file0018i.jpg" target=_blank><IMG src="photo/file0018s.jpg"></a><br>мкад ночью</span>
<span class=preview><a href="photo/file0003i.jpg" target=_blank><IMG src="photo/file0003s.jpg"></a><br>красное на черном</span>

<span class=preview><a href="photo/city1i.jpg" target=_blank><IMG src="photo/city1s.jpg"></a><br>пробки</span>
<span class=preview><a href="photo/PICT0398i.jpg" target=_blank><IMG src="photo/PICT0398s.jpg"></a><br>ночной пейзаж</span>
<span class=preview><a href="photo/PICT0521i.jpg" target=_blank><IMG src="photo/PICT0521s.jpg"></a><br>утро</span>
<span class=preview><a href="photo/PICT0680i.jpg" target=_blank><IMG src="photo/PICT0680s.jpg"></a><br>нло</span>
<span class=preview><a href="photo/war1i.jpg" target=_blank><IMG src="photo/war1s.jpg"></a><br>похороны микки</span>

<span class=preview><a href="photo/lamp01i.jpg" target=_blank><IMG src="photo/lamp01s.jpg"></a><br>фонарь</span>
<span class=preview><a href="photo/lamp02i.jpg" target=_blank><IMG src="photo/lamp02s.jpg"></a><br>mc на заре</span>
<span class=preview><a href="photo/les01i.jpg" target=_blank><IMG src="photo/les01s.jpg"></a><br>жертвенник</span>
<span class=preview><a href="photo/les02i.jpg" target=_blank><IMG src="photo/les02s.jpg"></a><br>на веревочке</span>
<span class=preview><a href="photo/igi1i.jpg" target=_blank><IMG src="photo/igi1s.jpg"></a><br>мир газпрома</span>

<span class=preview><a href="photo/antenna2i.jpg" target=_blank><IMG src="photo/antenna2s.jpg"></a><br>антенна</span>
<span class=preview><a href="photo/antenna5i.jpg" target=_blank><IMG src="photo/antenna5s.jpg"></a><br>антенна</span>



<h2>Фотопрогулки "Другая Москва"</h2> 
    
<table cellspacing=10>
<tr>
<td>
   <h3>Прогулка&nbsp;N1:&nbsp;Аэродром</h3>
</td>
<td></td>
<tr>
<td>
   <h3>Прогулка&nbsp;N2:&nbsp;Домодедово</h3>
</td>
<td></td>
<tr>
<td>
    <h3>Прогулка&nbsp;N3:&nbsp;Пепелац</h3>
</td>
<td></td>
<tr>
<td>
    <h3><a href="/ruins/views/zone/story/">Прогулка&nbsp;N4:&nbsp;Зона</a></h3> 

</td>
<td>
Залажу под мост, и застываю от восхищения. Тихо. Города будто уже не существует. 
Дождь звонкой капелью струится с краёв моста, эхом отражаясь от бетонных переборок. 
Вода необыкновенно чистая, видны зелёные водоросли на дне, песок. Тут можно сидеть 
целый час и просто слушать <a href="/ruins/views/zone/story/">дождь...</a>
</td>
</td></tr>
</table>
         
{% include "bottom.html" %}
