<HTML><HEAD><TITLE>Брошенный | На развалинах культуры</TITLE>
<META name="keywords" content="Брошенный,На развалинах культуры,культура,исскуство,литература,упадок,фоторгафия,кино,развал">
{% include "header.html" %}
</HEAD>

{% include "top.html" %}

{% include "left.html" %}
                  
<h2 align=center>Брошенный</h2>

<p align=justify>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Утро начиналось так, как это обычно бывает весной. Солнце ещё не взошло, 
и земля ещё хранила ночную прохладу. Лёгкий туман белел в низинах, 
а вверху мокрое серое небо. Люди молча спешили на работу, съёжившись 
под своей одеждой, изо всех сил пытаясь как можно глубже втянуть 
голову в плечи. А небо сыпало водяной пылью на их разношёрстные макушки.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Во дворе дома, на краю деревянной детской песочницы, свернувшись калачиком, 
лежал маленький серый котёнок. Он обхватил свою мордочку лапками, стараясь 
удержать остатки своего сна. Утренняя прохлада продула его со всех сторон, 
и окончательно потеряв надежду согреться, он встал и начал ходить по краю. 
Он разминал лапки, зевал, приседал и снова вставал до тех пор, пока зябкая 
дрожь не перестала ходить по его телу взад-вперёд.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
В это время он обычно шёл к своей миске и завтракал, а если он случайно просыпал, 
то заботливая девочка будила его. Больше всего он любил молоко, вкусное, 
прохладное. Хотя теперь конечно он бы захотел, чтобы оно было тёплым. 
<br> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Сегодня не было миски с молоком, и разбудил его не голос девочки, а холодный, 
колючий ветер. Куда бы он ни глядел, нигде не было его мисочки, не было впрочем, 
и его хозяйки, только серые дома и незнакомые люди, с каменными лицами проходящие 
мимо, даже не глядя на него. Котёнок кивал головкой, всматриваясь в лица прохожих, 
поворачивая ушки то в одну сторону, то в другую, но отовсюду его окружали незнакомые 
звуки, несъедобные уличные запахи.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Неожиданно огромная чёрная ворона спланировала и села на край песочницы. 
Котёнок обрадовался новой соседке, и, улыбнувшись, пошёл ей навстречу. 
Но стоило ему оторвать лапку и двинуться к вороне, как она, взмахнув 
своими большими крыльями, поспешно улетела. Котёнок долго смотрел вслед 
вороне, лапка опустилась обратно на землю. Он склонил голову, и его глаза 
уже смотрели куда-то далеко-далеко, в бесконечность.
<br>                                                
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
День прошёл тоскливо и незаметно, солнце так и не показалось, только водяная 
пыль перестала сыпать на землю. Котёнок сначала долго бродил в окрестности 
песочницы, но поесть он так ничего и не нашёл. Он вообще ничего не нашёл 
знакомого, ни вещей, ни людей. В конце концов, он вернулся к своей песочнице, 
лёг, положил мордочку на лапки и закрыл глаза...
<br>    
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Ему снился красивый разноцветный сон. Его любимая девочка играла с ним в салочки. 
Они весело носились по квартире, его заносило на поворотах, а девочка заливалась 
смехом, обнимала его, и они вместе катались по полу. Затем мама девочки звала 
обедать, и они дружно бежали на кухню. Котёнок всегда прибегал первым, 
и в предвкушении вкусностей, нетерпеливо втягивал ноздрями ароматный воздух. 
Пахло варёным мясом и молоком, и слюнки уже начинали течь, когда мама 
накладывала еду в его мисочку. Запах становился всё сильнее и сильнее... котёнок, 
подняв голову и, водя носом в воздухе, открыл глаза. К нему приближалась гружёная 
огромными сумками тётя. 
<br> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Мать большого семейства, располневшая от непосильных домашних забот, 
запыхавшаяся под тяжестью груза, тащила домой ужин. Она увидала котёнка, 
стоявшего на краю песочницы, переступавшего с лапки на лапку. Он с детской 
наивностью всматривался в сумки, забитые колбасой и молочными продуктами, 
и слюнки вот-вот уже готовы были течь у него изо рта. Тётя не была лишена 
сентиментальности. Чуть сбавив шаг, она посмотрела на котёнка:
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
– Кушать хочешь? Бедный, такой маленький... Кто же тебя здесь оставил?
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Котёнок обрадовался, впервые за день услышав слова, обращённые к нему. 
Он вытянул шею, желая казаться выше, как бы боясь остаться незамеченным.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
– Ну прости меня, прости. Не могу я тебя покормить, у меня муж дома голодный, 
куча детей, и таких как ты – парочка. Бедняжка, потерпи немного, скоро 
обязательно придёт твоя мама, и покормит тебя! – сказала она ободряющим тоном.
<br>                          
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Расчувствовавшаяся тётя прошла мимо котёнка, и, вздыхая, поволокла свою ношу 
дальше. Котёнок поначалу порывался броситься вслед за желанными запахами, 
но вскоре он понял – эти запахи предназначались вовсе не ему...
<br>                          
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Долго ещё он смотрел вдаль, куда медленно уходила, а потом и вовсе исчезла тётя. 
Ноги подкашивались, голова сама собой опускалась, и ему стало очень грустно. 
Не от того даже, что он был голоден, просто он ждал свою девочку, когда она 
придёт и позовёт его поесть. Теперь он был готов отдать всю самую вкусную еду 
на свете, только за то, чтобы снова услышать её голос, её звонкий смех. 
Он прилёг, уткнул свой маленький сопливый носик в лапки и закрыл глаза...
<br>                          
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Он снова вспомнил свою маленькую хозяйку. Тогда как-то утром он спал на кровати, 
и его сон прервался ярким снопом солнечного света. То была девочка, которая 
зеркальцем отразила на него лучи утреннего солнца. Он, зажмурившись, перевернулся 
на спинку и стал кататься и потягиваться всеми конечностями, а девочка стала 
гладить ему животик. Тогда ему было так тепло и уютно...
<br>                          
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Очнулся котёнок от лёгкого прикосновения к его голове. Он открыл глаза, и прямо 
перед его носом образовалось очаровательное личико, сияющее не менее очаровательной 
беззубой улыбкой.
<br>                          
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
– Киса! – сказала маленькая девочка и погладила его по голове. 
– Ки-и-иса! – ещё сказала  девочка и погладила его по спинке.
<br>                          
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
В другой руке она держала плюшевого мишку за заднюю лапу. 
На ней было синее платьице и дырявые колготки. Волосы, золотистого цвета, 
растрёпаны и перевязаны ленточкой, с уже развязавшимся бантиком.
<br>                          
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
– Мишка! – сказала опять девочка и ткнула медвежонком прямо котёнку в нос. 
– Киса! – девочка взяла их обоих на колени и обняла.
<br>                          
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Конечно, она не совсем была похожа на его девочку, да и к тому же она была 
значительно меньше, но всё же котёнку было приятно находится в неумелых 
объятиях девочки и плющевого медвежонка. Она заставила его на время забыть 
о голоде и грустных мыслях, наполнявших его голову.
<br>                          
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
– У меня дома есть слоник, – рассказывала девочка котёнку, 
– Хотешь, я тебя с ним познакомлю? Плавда он не такой пусыстый как ты...
<br>                          
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Девочка, котёнок и медвежонок игрались в песочнице и не замечали течения времени. 
Когда начало смеркаться, женщина подошла к песочнице и, поцеловав девочку в затылок, 
сказала:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
– Лапуль, уже поздно, пошли домой.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
– Мама, мама! – девочка улыбнулась своей беззубой улыбкой, – смотли какого я насла катёнка...
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
– Замечательно, – сказала мама, беря дочку за руку, – Бери мишку за руку и пошли.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
– Я сказала ему пло моего слоника, что я их познакомлю.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
– Ну, раз сказала, значит надо познакомить, – ответила мама. – Попрощайся с котёнком, и пойдём.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
– Пока, Киса! Завтла я плиду с мишкой и слоником, и мы будем ещё иглать!
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
– Мяу! – сказал в след котёнок, глядя на развевающиеся по ветру ленточки, заплетённые в волосы маленькой девочки.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Он смотрел вслед девочки с мамой, пока они не скрылись за поворотом, а когда начало совсем темнеть, он нашёл самый уютный и сухой уголок в песочнице, лёг и заснул. Ему снилась огромная жаркая пустыня, заполненная песком и окаймлённая дощатым бортиком. Большое красное солнце заходило за горизонт, освещая песчаные холмы своим оранжевым светом. Там с ним была маленькая девочка с золотистыми волосами, мишка и большой белый слоник.
<br>
<br>

<i>Апрель, 2003.</i></p>

{% include "bottom.html" %}

