<HTML><HEAD><TITLE>Письмена на стенах | На развалинах культуры</TITLE>
<META name="keywords" content="Письмена на стенах,культура,исскуство,литература,фоторгафия,кино">
{% include "header.html" %}
</HEAD>

{% include "top.html" %}

{% include "left_inscriptions.html" %}


<h1>Письмена на стенах</h1>
<h2>Проза</h2>
<a href="krylia_dlya_kota.html">Крылья для Кота</a> - <small>Рассказ, май 2004</small><br>
<a href="kroshkiny_pisma.html">Крошкины письма</a> - <small>Миниатюра, февраль 2004</small><br>
<a href="posledniy_predel.html">Последний предел</a> - <small>Миниатюра, декабрь 2003</small><br> 
<a href="beg_za_tishinoy.html">Бег за тишиной</a> - <small>Миниатюра, январь 2003</small><br>
<a href="devochka_i_smert.html">Девочка и смерть</a> - <small>Рассказ, ноябрь 2002</small><br>

<h2>Стихи</h2>

<a href="karrkarrkarr.html">Карр, карр, карр. </a><br>
<a href="dozhd.html">Дождь </a><br>
<a href="zimnie_okna.html">Зимние окна </a><br>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% include "bottom.html" %}
