<HTML><HEAD><TITLE>Карр, карр, карр | На развалинах культуры</TITLE>
<META name="keywords" content="Кар,На развалинах культуры,культура,исскуство,литература,упадок,фоторгафия,кино,развал">
{% include "header.html" %}
</HEAD>

{% include "top.html" %}

{% include "left.html" %}


<H2>Карр, карр, карр.</H2>
<br>
Засохшие листья шуршат под ногами,<br>
И ветер шуршит, колыхая ветвями.<br>
Застывшие ангелы машут крылами,<br>
Гуляю я, листья пиная ногами.<br>
<br>
Слезами рыдает здесь женщина вечно,<br>
Пред нею мерцают горящие свечи,<br>
Гранитная шаль укрывает ей плечи,<br>
Она молит Бога и просит о встрече.<br>
<br>
А вечер прохладой омоет мне очи,<br>
Я вижу - идёт погребальный рабочий,<br>
Я радуюсь, осень мне нравится очень,<br>
О смерти не думаю - больше нет мочи.<br>
<br>
<small>

<i>5 октября, 2003.</i><br>
</small>

{% include "bottom.html" %}
