<HTML><HEAD><TITLE>Сердце рыцаря | На развалинах культуры</TITLE>
<META name="keywords" content="Сердце рыцаря,На развалинах культуры,Басистов,культура,исскуство,литература,упадок,фоторгафия,кино,развал">
{% include "header.html" %}
</HEAD>

{% include "top.html" %}

{% include "left.html" %}


<H1 ALIGN="CENTER">Сердце рыцаря</H1>
<p align=justify>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Как ты думаешь, бывают ли на свете рыцари? Бывают ли храбрецы, которые идут 
наперекор всем? Которые одеваются в блестящие доспехи и ведут себя по-другому – 
благородно, величественно, как будто обладая чем-то, что даёт им право быть не 
как все? Что-то заставляет их надеяться стать самыми лучшими, стать героями, 
может не для всех, может лишь для одного человека – для неё, для дамы сердца.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Хочешь, я стану твоим рыцарем? Хочешь, у меня будет львиное сердце? Я стану 
бесстрашным, буду бросаться в бой и побеждать. При виде врага огонь будет 
разгораться в моих глазах. Мой конь будет дико ржать и становиться на дыбы, 
нетерпеливо бить копытами о землю. Твоя любовь будет вселять в меня уверенность, 
она поможет мне забыть о страхе, она поможет не думать о прошлых поражениях. 
Она будет согревать меня в открытом поле, где дуют ледяные ветра. Вместе с 
кровью она потечёт по моим жилам и наполнит силой каждый мой мускул.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
И с полей сражений я буду возвращаться к тебе. Я буду приносить к тебе 
золотой венец победителя. И ты – будешь праздновать со мной мои победы. 
И вечерами, за огромным круглым столом, наполненным яствами и винами, когда 
соберутся друзья, послушать рассказы о моих сражениях и великих подвигах – ты 
будешь сидеть рядом со мной. Ты разделишь мою славу.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Хочешь, я привезу тебе с войны богатую добычу. Ты будешь пересчитывать 
золото и драгоценные камни, чтобы потом купить на них еду и тёплую одежду. 
Ты возьмёшь заморские клинки, отнятые мной у врага, и повесишь их над камином, 
и, когда-нибудь, ты будешь рассказывать о них нашим детям...
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
А может быть, однажды я приеду к тебе с войны ни с чем. Я приеду грязный 
и израненный. В моих латах будут зиять дыры от вражеских копей и мечей, и сквозь 
них – жалкое кровоточащее тело. Тогда я не привезу тебе победы, не привезу тебе 
богатой добычи. Я привезу тебе горечь поражения, привезу тебе свою опущенную 
от стыда голову, привезу ноющее от ран тело. В тот день не будет улыбки на моём 
лице, а глаза будут красными от слёз.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
А ты... Ты привяжешь моего уставшего коня, поможешь мне спуститься на землю, 
опершись на твоё плечо. Ты стянешь с меня доспехи и омоешь мои раны. Перевяжешь 
их чистой белой тканью. Потом ты усадишь меня в мягкое кресло перед камином, 
и укроешь меня шерстяным пледом. Разведёшь огонь и нальёшь мне горячего чая. 
При этом всём ты не проронишь ни слезинки, ты будешь ласково смотреть на меня, 
а потом – присядешь у моих ног, посмотришь мне в глаза из-под своих густых волос, 
улыбнешься и скажешь: "Ты мой герой!". Я сначала удивлюсь – как же так, 
ведь сегодня я проиграл бой. А потом я пойму смысл твоих слов, и снова тёплое 
чувство твоей любви разольётся в моём сердце... Ты меня любишь! 
Ты в меня веришь!
<br><br>
<i>Басистов Антон.</i><br>
<i>Декабрь, 2002.</i></P>


{% include "bottom.html" %}
