<HTML><HEAD><TITLE>Состояние "..." | На развалинах культуры</TITLE>
<META name="keywords" content="Состояние,На развалинах культуры,Басистов,культура,исскуство,литература,упадок,фоторгафия,кино,развал">
{% include "header.html" %}
</HEAD>

{% include "top.html" %}

{% include "left.html" %}



<H2 ALIGN="CENTER">Состояние "..."</H2>
<p align=justify>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Я сижу на снегу, прямо в сугробе, как в мягком холодном пуху. Тепло одет, 
но мне холодно, и холод заставляет иногда вздрагивать. Мне холодно, 
но я не замерзаю - этот холод ничуть не больше, чем ледяная вьюга, 
поющая у меня внутри. Я вижу приближающийся мороз, он звенит и искрится, 
подобно осколкам хрусталя, он пугает меня своей силой, и пленяет своей 
застывшей красотой.
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
А снаружи тихо, тихо и падает снег, падает большими белыми хлопьями 
в синем свете фонарей. Снег медленно опускается, кружится в воздухе, 
покрывает землю белым пуховым одеялом. Тихо-тихо, только едва различимый 
шорох падающих снежинок. Они падают мне на плечи, на голову, на глаза... 
на самое сердце. Они окутывают мою душу холодным покрывалом, и жгучая боль уходит, 
и огонь утихает. Биение сердца становится ровным и спокойным, и уже не так холодно, 
и время замирает...
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
А я сижу и жду. Жду того, кто никогда не обещал прийти. Жду, надеясь, 
что не проживу долго, сидя на холодной земле. Жду, боясь, что он не успеет, 
прежде чем растают зимние снега и наступит весна.
<br><br>
<i>Басистов Антон.</i><br>
<i>Ноябрь, 2003.</i></P> 

{% include "bottom.html" %}
