<HTML><HEAD><TITLE>Странная подруга | На развалинах культуры</TITLE>
<META name="keywords" content="Странная подруга,На развалинах культуры,культура,исскуство,литература,упадок,фоторгафия,кино,развал">
{% include "header.html" %}
</HEAD>

{% include "top.html" %}

{% include "left.html" %}

<H2>Странная подруга</H2>
<br>
Я пойду к тебе сегодня,<br>
моя странная подруга,<br>
я возьму с собой цветочек<br>
или вкусное печенье.<br>
<br>
Я приду и постучусь<br>
в дверь твою большую тихо,<br>
я тихонько помолюсь,<br>
чтоб не билось сердце лихо.<br>
<br>
Чтобы ты была сегодня<br>
со мной доброй и простой,<br>
чтобы ты меня впустила<br>
и взяла подарок мой,<br>
<br>
чтобы слушать захотела<br>
мои глупые стихи,<br>
чтоб тебе не надоели<br>
мои вечные платки.<br>
<br>
Мои жалкие попытки<br>
тебя снова впечатлить,<br>
мои грустные улыбки<br>
и мечты с тобой дружить.<br>
<br>
Дверь открылась, а за нею,<br>
в пыльных лучиках рассвета -<br>
моя милая подруга,<br>
фиолетового цвета.<br>
<br>               
<small>

<i>1 июля, 2003.</i><br>
</small>

{% include "bottom.html" %}
