<HTML><HEAD><TITLE>Звуки из глубины души | На развалинах культуры</TITLE>
<META name="keywords" content="Звуки из глубины души,На развалинах культуры,Басистов,культура,исскуство,литература,упадок,фоторгафия,кино,развал">
{% include "header.html" %}
</HEAD>

{% include "top.html" %}

{% include "left.html" %}


<h1 ALIGN="CENTER">Звуки из глубины души</h1>

<P ALIGN="JUSTIFY">
&nbsp;&nbsp;&nbsp;&nbsp;
Музыка льётся, залезает прямо под кожу и дотрагивается до самого сердца, 
до тончайших струн человеческой души. Я никогда не прикасался к ним, 
я боялся их порвать, я не умею играть, мои пальцы слишком грубы для этой игры. 
Но звуки проникли так глубоко, что всё внутри задрожало, и мурашки забегали по спине. 
Кажется, внутри что-то резонирует с этой музыкой, или есть там какая-то другая музыка. 
Иногда она пробуждается и рвётся наружу. Она пугает и настораживает, ведь ты думал,
что в сердце мир, а там полыхает пожар.
<br>&nbsp;&nbsp;&nbsp;&nbsp;
Где-то должны быть люди, способные услышать эту музыку, которые смогли бы различить 
эти звуки. Но, похоже, они где-то не здесь и не сейчас. Нет тех, кто смог бы угадать 
следующую ноту, смог бы в этом шуме услышать лад и играть дальше. И я не могу. Стоит 
тронуть эту мелодию одним неловким движением - и она рассыпается, превращаясь в 
бессмысленный гул. От этого шума только болит голова, и единственный выход - лечь спать, 
заснуть, и на утро проснуться пустым и тихим.
<br>&nbsp;&nbsp;&nbsp;&nbsp;
Тогда зачем же эти отчаянные поиски слушателя? Ведь всё равно никто не понимает 
этой музыки, или нет, наверное, просто никто её не слышит. Ведь не может же никого 
не тронуть эта красота! Поднесённые ближе, неужели не зазвонят струны другой души? 
Если бы нашёлся хоть один, кто бы прислушался, тогда может быть, он услышал бы 
музыку в дрожании голоса. Может он смог бы заглянуть вглубь и увидеть ноты во 
влажном блеске глаз. Но из зеркала глядит до боли знакомое, до неприличия чёткое 
лицо, и глаза - пустые, неглубокие. Бессмысленный, невнятный голос, мутный, 
безжизненный взгляд. Присматриваюсь и ничего не вижу, прислушиваюсь - тишина. 
Может это всё выдумки? Может нет никакой музыки, просто послышалось. Или это 
порождённые больным сознанием галлюцинации.
<br>&nbsp;&nbsp;&nbsp;&nbsp;
И тогда, сжимая в кулак всю волю, тщетно стараясь забыть собственные черты, 
идёшь и ищешь. Ищешь того, кто увидит, чей взгляд остановится, поражённый 
неожиданной вспышкой света. Ищешь того, кто вздрогнет, оглушённый пронзительным криком, 
чьё сердце отзовётся на эти странные звуки и услышит в них новую песню. И когда это 
случится, он научит и меня слышать. Он с удивлением взглянет и разобьёт зеркало, 
как бы спрашивая: "Зачем это?" И тогда я увижу чистые бездонные глаза. Увижу те 
бескрайние синие моря,  хрустальные озёра, о которых все так много говорят. Увижу 
покрытые снегом горные вершины и яркое, ослепительное солнце! Одна душа зазвучит, 
а вторая ей подыграет, и это будет вдвойне красивее, как аккорд красивее отдельных нот. 
И зазвучит новая музыка с удвоенной силой, и весь мир теперь не сможет заглушить 
её своим шумом. Вместо этого он вздрогнет и многоголосым оркестром подыграет новорождённому 
дуэту.<br><br>
<i>Басистов Антон.</i><br>
<i>Январь, 2003.</i></P>


{% include "bottom.html" %}

