<HTML><HEAD><TITLE>Кинематограф | На развалинах культуры</TITLE>
<META name="keywords" content="культура,исскуство,кино,фильмы,кинематограф,малобюджетные,рецензии,Страна Глухих,Тайна реки Сучжоу,Suzhou,Тарковский,Три истории,фара,Цареубийца,Куклы,винни пух,ежик в тумане,Убить билла">
{% include "header.html" %}
</HEAD>

{% include "top.html" %}

{% include "left_cinema.html" %}


<h1>Кинематограф</h1> 

<div style="padding-left:100px;text-align:justify">В&nbsp;этом разделе находятся рецензии на&nbsp;фильмы, которые, по&nbsp;мнению авторов сайта, заслуживают уважения, или, по&nbsp;крайней мере, внимания, с&nbsp;точки зрения художественной и&nbsp;смысловой содержательности. Эти фильмы зачастую оказываются малобюджетными и&nbsp;непопулярными, что вовсе не&nbsp;означает, что они неудачные. Мы&nbsp;надеемся, что здесь вы&nbsp;найдёте новые для себя фильмы, которые откроют вам неизведанные еще грани кинематографа.
</div>
<br>
<br>

<table>



<tr>
<td>
<h2><a href="/culture/cinema/suzhou_he/">Тайна&nbsp;реки&nbsp;Сучжоу (Suzhou&nbsp;he)</a></h2>

<b>Режиссер: </b>Лоу Е<br>
<b>Производство: </b>Essential Filmproduktion GmbH, Китай-Германия, 2000 год.<br>
<b>В главных ролях: </b>Чжоу Сюнь, Цзя Хуншэнь.<br>

</td>
<td style="vertical-align:middle">
<a href="/culture/cinema/suzhou_he/"><img src="suzhou_he_pre.jpg" alt="Тайна реки Сучжоу" title="Тайна реки Сучжоу" width=400 height=94></a>
</td>
</tr>

<tr>
<td style="padding-top:12px">
<h2><a href="/culture/cinema/strana_gluhih/">Страна&nbsp;глухих</a></h2>

<b>Режиссер:</b> Валерий Тодоровский<br>
<b>Производство: </b>Россия, киностудия им. М. Горького, 1998 год.<br>
<b>В главных ролях: </b><a href="http://www.khamatova.ru">Чулпан Хаматова</a>, Дина Корзун, <a href="http://www.maximsuhanov.ru">Максим Суханов</a>.<br>

</td>
<td style="vertical-align:middle">
<a href="/culture/cinema/strana_gluhih/"><img src="strana_gluhih_pre.jpg" alt="Страна глухих" title="Страна глухих" width=400 height=95></a>
</td>
</tr>

</table>


      
<!--
        Тарковский<br>
        Три истории + четвертая <br>
        фара<br>
        Лили 4ever<br>
        Цареубийца<br>
        Убить билла<br>
        Куклы<br>
        ежик в тумане<br>
        винни пух<br>
-->
<br><br><br><br><br><br><br><br><br><br>

{% include "bottom.html" %}
